/-- Case Expresions Personal Project --.sql
/-- Case Expressions --.sql
/-- Create tables for each month of the y.sql
/-- High-Value Skill Shortage Finder --.sql
/-- Practice 7 --.sql
/-- Subqueries and CTEs --.sql
/-- Subqueries and CTEs Practice Problems.sql
/-- Write a Query to find the average sal.sql
/-- Write a query to count the number of .sql
/-- Write a query to find companies (incl.sql
/--GEMINI PRACTICE 7--.sql
/.DS_Store
/.vscode
/5_optimal_skills_1.sql
/ALTER TABLE job_applied.sql
/CREATE DATABASE sql_course;.sql
/CREATE TABLE job_applied (.sql
/INSERT INTO job_applied.sql
/SELECT *.sql
/SELECT.sql
/Skills_SA_Job_Market.sql
/Untitled-3.sql
/analysis_projects_sql
/csv_files
/sql_course.session.sql